@font-face {
  font-family: 'Ticking Time Bomb';
  src: url('fonts/TickingTimebombBB.ttf');
}

body {
  z-index: 0;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: url('images/circuit.jpg') no-repeat;
  background-size: 100%;
  background-position: absolute;

}

.circle {
  z-index: 2;
  position: relative;
  background-color: transparent;
}

.landing {
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: lightblue;
  text-align: center;
}

.display {
  min-height: 275px;
  position: absolute;
  background-color: lightblue;
  text-align: center;
  margin-top: 20%;
  margin-left: 25%;
  margin-right: 25%;
  border: 5px solid black;
  padding: 10px;
  align-self: center;
  top: 0px;
  right: 0px;
  left: 0px;
}

.timer {
  font-family: 'Ticking Time Bomb';
  font-size: 70px;
  color: red;
  background-color: lightblue;
  text-align: center;
  margin-top: 5%;
  padding: 5px;
  width: 150;
  height: 200px;
}

.score {
  position: relative;
  background-color: lightblue;
  text-align: center;
  margin-bottom: 5%;
  border: 5px solid black;
  padding: 10px;
}

.win{
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: lightblue;
  text-align: center;
}

.winImage{
  max-width: 50%;
}

.lose{
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: lightblue;
  text-align: center;
}

.loseImage{
  max-width: 50%;
}
